/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --basic-text-color: #000000;
}

h2 {
    font-weight: 700;
    font-size: 22px;
}

p {
    font-weight: 400;
    font-size: 16px;
}

h3, .searchText {
    font-size: 18px;
    font-weight: 700;
}

.searchText {
    text-align: center;
}

.directionRow {
    display: flex;
    flex-direction: row;
}

.directionColumn {
    display: flex;
    flex-direction: column;
}

.alignItems {
    align-items: center;
}

.blackText{
    color: black;
}

.borderNone {
    border-style: none;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
    ;
}   

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** HEADER ***********/

.header {
	justify-content: space-between;
    align-items: center;
    height: 100px;
}

.logo {
    display: flex;
    width: 80px;
    height: 30px;
}

.menu {
   display: inline-block;
   margin: 10px;
   padding-top: 15px
}

nav li:hover {
    border-top: 2px #0065FC solid;
}

nav li:hover a {
    color: #0065FC;
}

.menu a {
    text-decoration: none;
    font-weight: 500;
    color: black;
}

/****** Trouver l'hebergement ***********/
.searchSection {
    margin-bottom: 25px;
}

.searchBarSize {
    width: 377px;
    height: 49px;
    border-radius: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pictoLocationBar {
    background-color: var(--main-bg-color);
    width: 49px;
    height: 49px;
    border: 1px solid var(--main-bg-color);
    border-radius: 15px 0px 0px 15px
}

.fa-location-dot {
    width: 14px;
    height: 18px;
    color:black;
}

.searchElementSize {
    height: 49px;
    width: 195px;
}

.searchElementStyle {
    border: solid 1px var(--main-bg-color);
    padding-top: 0;
    padding-bottom: 0;
}
.submitButtonSize {
    width: 132px ;
    height: 50px;
    border-radius: 0px 15px 15px 0px;
}

.submitButton {
    background-color: var(--main-color);
    color: white;
    border: 2px solid var(--main-color);
    
}

/****** Filtres ***********/

.filtres {
    margin-bottom: 10px;
}

.filtresButtonBorder {
    width: 173px;
    height: 50px;
    border: solid 2px var(--main-bg-color);
    border-radius: 25px;
    margin: 10px;
}

.infoBorder {
    width: 24px;
    height: 24px;
    border: solid 1px var(--main-bg-color);
    border-radius: 100px;
    margin-right: 10px;
}

.pictoFiltresStyle {
    margin: 10px;
}

.filtresButtonBorder:hover {
    background-color: var(--filter-bg-color);
    cursor: default;
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    width: 65%;
}

.hebergements-cards {
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 33px;
    gap: 4px;
}

.cards {
    width: 250px;
    height: auto;
    margin-bottom: 33px;
}

.card-content {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-bottom: 15px;
}

.hebergements-cards img{
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


/****** Populaires ***********/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/****** Activités ***********/

.activites {
    width: 924px;
    height: 370px;
    justify-content: space-between;
    margin-top: 20px;
}
.activites-card img {
    width: 100%;
    height: 200px;
    min-height: 200px;
    max-height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.activites-card {
    justify-content: space-between;
    width: 864px;
    height: 270px;
}

.activites-card article {
    width: 193px;
    height: 270px;
    background-color:white;
    border-radius: 20px;
    box-sizing: content-box;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
}

.activites-card-content {
    height: 70px;
    width: 100%;
    padding: 0px 19px 20px 19px;
}

.activites-card h3 {
    width: 155px;
    height: 19px;
    font-size: 16px;
    text-align: left;
}

/****** Activités ***********/


width: Fill (1,340px)
height: Hug (163px)


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}